@import "data-editor";

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#app, #editor-wrapper, .view-wrapper, #map-container, #map {
  width: 100%;
  height: 100%;
}

#editor-inner {
  position: absolute;
  overflow: scroll;
}

.editor-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
}

.view-wrapper {
  position: fixed;
  top: 40px;
}
